* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
body {
  font-size: 16px;
}
.container {
  width: 1170px;
  margin: 0 auto;
  border: 1px;
}
header {
  background-color: plum;
  height: 80px;
  margin-bottom: 1em;
  vertical-align: middle;
}
.barra-info {
  background-color: rgba(218, 207, 103);
  height: 350px;
  margin-bottom: 10px;
}
.linea {
    background-color: cornflowerblue;
    height: 60px;
    margin-bottom:0px;
    margin-top: 2px;
}
main {
  background-color: #1c39bb;
}
.colonna-sinistra {
  width: calc(30% - 10px);
  height: 600px;
  background-color: cornflowerblue;
  float: left;
  margin-top: 3em;
}

.colonna-centrale {
  width: calc(30% - 10px);
  height: 600px;
  background-color: cornflowerblue;
  margin-top: 3em;
  float: left;
  margin-left: 73px;
}
.destra {
  width: calc(30% - 10px);
  height: 600px;
  background-color: cornflowerblue;
  margin-top: 3em;
  float: left;
  margin-left: 74px;

}
footer {
  height: 80px;
  background-color: blueviolet;
  margin-top: 20px;
  margin-bottom: 3em;
}
